<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rzd.pktbcdt.aszp.soap.ws.mapper.ProjectMapper">

    <select id="getProjects" resultMap="projectsMap" parameterType="map" >
        SELECT
            PR."idProject"
             ,PR."nameProject"
             ,PR."nameProjectFull"
             ,PR."descriptionProject"
             ,PR."dateBeginProject"
             ,PR."dateEndProject"
             ,PR."date_start"
             ,PR."nameAgreement"
             ,PR."cost"
             ,PR."costCurrency"
             ,PR."idCountry"
             ,PR."idManager"
             ,PR."idCEO"
             ,PR."main_worker"
             ,U1."full_name" as manager
             ,U2."full_name" as ceo
             ,U3."full_name" as worker
             ,TP."nameAgreement" as typeProjectName
             ,COUNTRIES."nameCountry"


        FROM
            public.tbl_projects PR
                left outer join
            public.user U1
                on PR."idManager" = U1."id"
                left outer join
            public.user U2
                on PR."idCEO" = U2."id"
                left outer join
            public.user U3
                on PR."main_worker" = U3."id"
                left outer join
            public.tbl_agreements TP
                on PR."nameAgreement"=TP."id"
                left outer join
            public.tbl_countries COUNTRIES
                on PR."idCountry"=COUNTRIES."idCountry"

        where
            PR."idType" != 3
            <if test="date != null">
                <![CDATA[
                and PR."dateEndProject" >= #{date}
                ]]>
            </if>
           <if test="idProject != null">
              and PR."idProject" = #{idProject}
            </if>


    </select>

    <select id="getProjectRisks" resultMap="riskMap" parameterType="map" >
        SELECT
            PR."id"
            ,PR."name"
             ,PR."impact"
             ,PR."probability"
             ,PR."status"
        FROM
            public.tbl_risks PR
        where
                PR."project_id" = #{idProject}
            and PR.confirmed = true

    </select>

    <select id="getProjectIndicators" resultMap="indicatorMap" parameterType="map" >
    SELECT
        KI."id" as idIndicator
        ,KI."type" as indicatorType
        ,KI."name" as indicatorName
        ,IV."id" as idIndicatorValue
        ,IV."year"
        ,IV."type" as perType
        ,IV."type_value" as perValue
        ,IV."plan" as planValue
        ,IV."real" as realValue
        ,IV."prognosis"
     FROM
         public.tbl_key_indicators KI
             left outer join
         public.tbl_key_indicators_values IV
                on IV."indicator_id" = KI."id"
        where project_id= #{idProject}
          and
            exists(
                    select confirmed FROM public.tbl_key_indicators_projects where project_id = #{idProject}
                )
                <choose>
                    <when test="year != null">
                        and IV."year" = #{year}
                    </when>
                    <otherwise>
                        and IV."year"=date_part('year',CURRENT_DATE)
                    </otherwise>
                </choose>
    </select>




    <resultMap id="projectsMap"  type="rzd.pktbcdt.aszp.soap.ws.model.Project">
        <id  property="idProject" column="idProject"/>
        <result property="nameProject" column="nameProject"/>
        <result property="nameProjectFull" column="nameProjectFull"/>
        <result property="descriptionProject" column="descriptionProject"/>
        <result property="dateBeginProject" column="dateBeginProject"/>
        <result property="dateEndProject" column="dateEndProject"/>
        <result property="dateStart" column="typeProject"/>
        <result property="typeProject" column="nameAgreement"/>
        <result property="typeProjectName" column="typeProjectName"/>
        <result property="cost" column="cost"/>
        <result property="costCurrency" column="costCurrency"/>
        <result property="idCountry" column="idCountry"/>
        <result property="country" column="nameCountry"/>
        <result property="manager" column="manager"/>
        <result property="ceo" column="ceo"/>
        <result property="worker" column="worker"/>

    </resultMap>



    <resultMap id="riskMap"  type="rzd.pktbcdt.aszp.soap.ws.model.Risk">
        <id  property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="impact" column="impact"/>
        <result property="probability" column="probability"/>
        <result property="status" column="status"/>
    </resultMap>

    <resultMap id="indicatorMap"  type="rzd.pktbcdt.aszp.soap.ws.model.Indicator">
        <id  property="idIndicator" column="idIndicator"/>
        <result property="indicatorType" column="indicatorType"/>
        <result property="indicatorName" column="indicatorName"/>
            <collection property="indicatorValues" ofType="rzd.pktbcdt.aszp.soap.ws.model.IndicatorValue">
                <result property="idIndicatorValue" column="idIndicatorValue"/>
                <result property="year" column="year"/>
                <result property="perType" column="perType"/>
                <result property="perValue" column="perValue"/>
                <result property="planValue" column="planValue"/>
                <result property="realValue" column="realValue"/>
                <result property="prognosis" column="prognosis"/>
            </collection>

    </resultMap>





</mapper>